@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

.group:hover .animate-marquee {
    animation-play-state: paused;
}

.group:hover .paused {
    animation-play-state: paused;
}

/* Hover zoom effect for logos */
.brand-logo-container img {
  transition: transform 0.3s ease-in-out;
}

.brand-logo-container:hover img {
  transform: scale(1.15);
}